body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #dfdbdb;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the viewport height */
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height to push footer to bottom */
  }
  
  .main-content {
    flex: 1; /* Take up the remaining space */
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    padding-top: 80px; /* Adjust for fixed header height */
    overflow: auto; /* Enable scrolling if content overflows */
  }
  
  h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
    white-space: nowrap;
    animation: slide-left 20s linear infinite;
  }
  
  
  .main-image {
    max-width: 10vh;
    height: auto;
    margin-top: 20px;
  }